fastapi
uvicorn
python-multipart
pandas
rapidfuzz
opencv-python
easyocr>=1.7.0
layoutparser
ultralytics>=8.0.0
numpy>=1.18.5
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
--extra-index-url https://download.pytorch.org/whl/cu118
torch>=2.0.0+cu118
torchvision>=0.15.0+cu118
tqdm>=4.41.0